<div class="flex justify-center items-center h-full">
  <div class="flex flex-col items-center">
    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-gray-900"></div>
    <p class="mt-4 text-gray-600">Installing build cloud...</p>
  </div>
</div>