<div
  class="cursor-pointer card w-80 bg-base-200"
  data-card-name="local_k3s"
  data-action="click->card-select#selectCard"
  data-card-select-target="card"
>
  <div class="card-body">
    <iconify-icon icon="simple-icons:k3s" height="2.5rem" width="2.5rem"></iconify-icon>
    <h2 class="card-title">Local K3s or K3d</h2>
    <div class="italic text-gray-400 text-sm">
      Choose this option for local development.
    </div>
    <div class="space-y-2 text-sm text-gray-400">
      <div class="mb-4">
        Connect your local K3s or K3d cluster by uploading your kubeconfig file.
      </div>
      <div class="flex items-center gap-2">
        <iconify-icon icon="lucide:laptop" class="w-4 h-4"></iconify-icon>
        <span>Local development</span>
      </div>
      <div class="flex items-center gap-2">
        <iconify-icon icon="lucide:dollar-sign" class="w-4 h-4"></iconify-icon>
        <span>Free</span>
      </div>
    </div>
  </div>
</div>
