<div>
  <%= turbo_frame_tag "service_#{service.id}" do %>
    <% if tab == "overview" %>
      <%= render "projects/services/overview", service: service, tab: tab %>
    <% elsif tab == "networking" %>
      <%= render "projects/services/networking", service: service, tab: tab %>
    <% elsif tab == "advanced" %>
      <%= render "projects/services/advanced", service: service, tab: tab %>
    <% end %>
  <% end %>
</div>
