<div class="flex flex-row" data-controller="toggle-password">
  <input type="password" id="connection-url" name="connection-url" class="input input-bordered w-full max-w-lg focus:outline-offset-0" value="<%= internal_url %>" data-toggle-password-target="input">
  <button class="btn btn-outline-secondary" type="button" data-action="click->toggle-password#toggle">
    <iconify-icon icon="lucide:eye"></iconify-icon>
  </button>
</div>
