<%= turbo_frame_tag "ldap_test_connection_result", class: "block mt-3", data: { ldap_test_connection_target: "result" } do %>
  <div class="flex items-center gap-2 text-success">
    <iconify-icon icon="lucide:check-circle" height="16"></iconify-icon>
    <span>Connection successful!</span>
  </div>
<% end %>
