<% if current_user.admin? %>
  <li>
    <div>
      <%= link_to avo_path do %>
        <iconify-icon icon="lucide:lock-keyhole" height="16"></iconify-icon>
        Admin
      <% end %>
    </div>
  </li>
  <li>
    <div>
      <%= link_to admin_flipper_path do %>
        <iconify-icon icon="lucide:flag" height="16"></iconify-icon>
        Feature Flags
      <% end %>
    </div>
  </li>
  <li>
    <div>
      <%= link_to admin_good_job_path do %>
        <iconify-icon icon="lucide:server" height="16"></iconify-icon>
        Jobs
      <% end %>
    </div>
  </li>
<% end %>