<li>
  <div>
    <%= link_to providers_path do %>
      <iconify-icon icon="lucide:key-round" height="16"></iconify-icon>
      Credentials
    <% end %>
  </div>
  <div>
    <%= link_to "https://docs.canine.sh/", target: "_blank" do %>
      <iconify-icon icon="lucide:book-open"></iconify-icon>
      <span>Documentation</span>
    <% end %>
  </div>
</li>
<%= render "shared/admin_right_nav" %>