<div data-controller="stack-manager-url">
  <%= form.label :provider_url, "Portainer URL" %>
  <%= form.text_field(
    :provider_url,
    name: "stack_manager[provider_url]",
    class: "input input-bordered w-full",
    placeholder: "http://portainer.portainer.svc.cluster.local:9000",
    data: { stack_manager_url_target: "urlInput", action: "blur->stack-manager-url#verifyUrl" },
  ) %>
  <div class="label justify-end">
    <span class="label-text-alt">
      <div class="text-success flex items-center gap-x-0.5 hidden" data-stack-manager-url-target="verifyUrlSuccess">
        Verified
        <iconify-icon icon="lucide:circle-check"></iconify-icon>
      </div>
      <div class="text-error flex items-center gap-x-0.5 hidden" data-stack-manager-url-target="verifyUrlError">
        <span data-stack-manager-url-target="errorMessage">Error</span>
        <iconify-icon icon="lucide:circle-x"></iconify-icon>
      </div>
      <div class="text-gray-500 flex items-center gap-x-0.5 hidden" data-stack-manager-url-target="verifyUrlLoading">
        Loading
        <iconify-icon class="animate-spin" icon="lucide:loader-circle"></iconify-icon>
      </div>
    </span>
  </div>
</div>