<div data-controller="stack-manager--url-input">
  <%= form.label :provider_url, "Portainer URL" %>
  <%= form.text_field(
    :provider_url,
    name: "stack_manager[provider_url]",
    class: "input input-bordered w-full",
    placeholder: "http://portainer.portainer.svc.cluster.local:9000",
    data: { "stack-manager--url-input-target": "urlInput", action: "blur->stack-manager--url-input#verifyUrl" },
  ) %>
  <div class="label justify-end">
    <span class="label-text-alt">
      <%= render "accounts/stack_managers/url_connection_statuses" %>
    </span>
  </div>
</div>