<div class="relative" data-controller="buildpack-search">
  <input
    type="text"
    placeholder="Search for buildpacks (e.g., ruby, node, python)..."
    class="input input-bordered w-full"
  />
</div>
