<div class="form-control">
  <label class="label">
    <span class="label-text">Search Buildpacks</span>
  </label>
  <div class="relative" data-controller="buildpack-search">
    <input
      type="text"
      placeholder="Search for buildpacks (e.g., ruby, node, python)..."
      class="input input-bordered w-full"
    />
  </div>
  <label class="label">
    <span class="label-text-alt">Search Cloud Native Buildpacks to add to your project</span>
  </label>
</div>

<div id="selected-buildpacks" class="mt-4 space-y-2">
  <!-- Selected buildpacks will appear here -->
</div>
