<html>
  <head>
    <title>Canine API Documentation</title>
  </head>
  <body>
    <redoc spec-url='<%= swagger_path %>'
    ></redoc>
    <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"> </script>
  </body>
</html>
