<div class="min-h-screen py-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Header and Navigation -->
    <img src="/images/logo-full.webp" alt="Canine Logo" class="h-[40px]">
    <div class="mb-8">
      <h1 class="text-3xl font-bold ">
        Select your installation method
      </h1>
    </div>

    <!-- render flash messages -->
    <% if flash[:alert] %>
      <div class="alert alert-error mb-4">
        <iconify-icon icon="lucide:alert-triangle" class="mr-2 text-white"></iconify-icon>
        <span><%= flash[:alert] %></span>
      </div>
    <% end %>

    <!-- render radio selector -->
    <div class="form-control mt-4">
      <%= render "shared/partials/radio_selector", selected: nil, options: [
        {
          icon: "/images/logo-compact.webp",
          name: "project[build_configuration][driver]",
          label: "Normal (Recommended)",
          value: "normal",
          description: "Standard installation of Canine. Select this if it's your first time using Canine.",
          href: new_user_registration_url
        },
        {
          icon: "/images/helm/portainer.webp",
          name: "project[build_configuration][driver]",
          label: "Portainer",
          description: "Import from an existing Portainer instance. Only select this if you want to integrate Canine with Portainer.",
          value: "portainer",
          partial: "local/onboarding/portainer",
          locals: { current_account: }
        }
      ] %>
    </div>
  </div>
</div>
