<div class="min-h-screen py-8">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Header and Navigation -->
    <img src="/images/logo-full.png" alt="Canine Logo" class="h-[40px]">
    <div class="mb-8">
      <h1 class="text-3xl font-bold ">
        Select your installation method
      </h1>
    </div>

    <div class="form-control mt-4">
      <%= render "shared/partials/radio_selector", selected: nil, options: [
        {
          icon: "/images/logo-compact.png",
          name: "project[build_configuration][driver]",
          label: "Normal",
          value: "normal",
          description: "Build images using Docker on the deployment server. Simple setup, suitable for smaller projects.",
          href: new_user_registration_url
        },
        {
          icon: "/images/helm/portainer.png",
          name: "project[build_configuration][driver]",
          label: "Portainer",
          description: "Build images in your Kubernetes cluster. Scalable, distributed builds with better resource utilization.",
          value: "portainer",
          partial: "local/onboarding/portainer",
          locals: { current_account: }
        }
      ] %>
    </div>
  </div>
</div>
