<div
  class="cursor-pointer card w-64 bg-base-200"
  data-card-name="linux"
  data-action="click->card-select#selectCard"
  data-card-select-target="card"
>
  <div class="card-body">
    <iconify-icon icon="ri:ubuntu-fill" height="2.5rem" width="2.5rem"></iconify-icon>
    <h2 class="card-title">Linux</h2>
    <div class="text-sm text-gray-400">
      Use native K3s or K3d for local development on Linux.
    </div>
  </div>
</div>
