<div
  class="cursor-pointer card w-64 bg-base-200"
  data-card-name="macos"
  data-action="click->card-select#selectCard"
  data-card-select-target="card"
>
  <div class="card-body">
    <iconify-icon icon="ri:apple-fill" height="2.5rem" width="2.5rem"></iconify-icon>
    <h2 class="card-title">macOS</h2>
    <div class="text-sm text-gray-400">
      Use K3d (Docker-based) for local development on Mac.
    </div>
  </div>
</div>
