<div
  class="cursor-pointer card w-64 bg-base-200"
  data-card-name="windows"
  data-action="click->card-select#selectCard"
  data-card-select-target="card"
>
  <div class="card-body">
    <iconify-icon icon="ri:windows-fill" height="2.5rem" width="2.5rem"></iconify-icon>
    <h2 class="card-title">Windows</h2>
    <div class="text-sm text-gray-400">
      Use K3d with Docker Desktop or WSL2 for local development on Windows.
    </div>
  </div>
</div>
