<div class="flex flex-row">
  <div>
    <label>Namespace</label>
    <input value="<%= project.namespace %>" disabled />
  </div>
  <div>/</div>
  <div>
    <label>Name</label>
    <input value="<%= project.name %>" disabled />
  </div>
</div>